<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppStore-Apple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E94D9A091E781EA700D6F508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94D9A1D1E781EA700D6F508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94D9A281E781EA700D6F508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
